

:root {
  --seasalt: #f8f9fa;
  --anti-flashwhite: #E9ECEF;
  --platinum: #DEE2E6;
  --french-gray: #CED4DA;
  --slate-gray: #6C757D;
  --outer-space: #495057;
  --onyx: #343A40;
  --eerie-black: #212529;
  --baby-powder: #FEFEFA;
  --rich-black: #010B13;
  --crayola-blue: #1F75FE;

  --ff-body: 'Noto Sans JP', sans-serif;
  --ff-heading: 'IBM Plex Mono', monospace;
}


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-body);
  min-height: 100vh;
  background-color: var(--baby-powder);
  /* display: flex; */
  /* align-items: center; */
}

.main__container {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 90%;
  margin: 1rem auto;
  border-radius: 12px;
  min-height: fit-content;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 2rem;
}


.header__heading {
  font-family: var(--ff-heading);
  color: var(--rich-black);
}


.nav__list {
  display: flex;
  flex-direction: column;
}


.nav__list-item a:link,
.nav__list-item a:visited,
.nav__list-item a:active
{
  text-decoration: none;
  font-family: var(--ff-heading);
  font-weight: 600;
  color: var(--rich-black);
  font-size: 1.125rem;
}

.nav__list-item a:hover {
  color: var(--onyx);
  text-decoration: underline;
}



.about-me__heading {
  font-family: var(--ff-heading);
  color: var(--rich-black);
  margin-block-end: 1rem;
  font-weight: 700;
}


#about-me .about-me__profile {
 display: none;
}
