


/* variables */


:root {
  --seasalt: #f8f9fa;
  --anti-flashwhite: #E9ECEF;
  --platinum: #DEE2E6;
  --french-gray: #CED4DA;
  --slate-gray: #6C757D;
  --outer-space: #495057;
  --onyx: #343A40;
  --eerie-black: #212529;
  --baby-powder: #FEFEFA;
  --rich-black: #010B13;
  --crayola-blue: #1F75FE;

  --ff-base: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea, button {
  font-family: var(--ff-base);
}

body {
  line-height: 1.5;
  font-family: var(--ff-base);
  min-height: 100vh;
  background-color: var(--baby-powder)
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/* .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__heading {
  font-size: 1.5rem;
  color: var(--rich-black);
}

.btn__menu {
  border: none;
  background-color: transparent;
}


.nav__mobile {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

#about-me {
  display: flex;
  flex-direction: column-reverse;
  margin-block-end: 2rem;
}

.about-me__content {
  padding-inline: 1rem;
}

.about-me__content p {
  color: var(--outer-space);
}


.about-me__profile  {
  width: 100%;
  height: auto;
}


#projects {
  padding-inline: 1rem;
  margin-block-end: 3rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.projects__list-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
}
.projects__list-item-content {
  padding: 1rem;
}


.project__tech-stack {
  list-style: circle;
  padding-inline-start: 1rem;
}

.footer {
  background-color: var(--anti-flashwhite);
  color: var(--rich-black);
  padding: 1rem;
}

.footer__email {
  font-size: .75rem;
  font-weight: 500;
}

.footer__email a {
  color: var(--crayola-blue);
}

.related__list-link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.contact__link span svg {
  fill: var(--onyx);
}

.contact__link span svg.icon_linkedin {
  fill: var(--crayola-blue);
}

@media only screen and (min-width: 1024px) {

  .header {
    padding-block-start: 2rem;
    padding-inline: 3rem;
  }


 #about-me {
  flex-direction: row;
  justify-content: space-evenly;
  margin-block-start: 8.5rem;
  min-height: 100vh;
 } 

 #about-me .about-me__content {
  width: 50%;
 }
 #about-me .about-me__content h2{
  margin-block-end: 2rem;
  font-size: 2.5rem;
 }
 #about-me .about-me__content p {
  font-size: 1.125rem;
  line-height: 1.5;
 }


  #about-me .about-me__profile {
    width: 20%;
  }

  #about-me .about-me__profile img {
    border-radius: 50%;
  }
}
  */